@model IEnumerable<WebStoreMVC.Domain.Entities.Product>

@{
    ViewBag.Title = "Поиск товаров";
    Layout = "_Layout";
}

@foreach (var item in Model)
{
    <!--КАРТОЧКИ ТОВАРОВ-->
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card ">
                    <div class="image">
                        <img src="/images/products/@item.Images" alt="">
                        <div class="info">
                            <h5>@item.ProductName</h5>
                            <ul class="rating">
                                <ion-icon name="star-outline"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                            </ul>
                            <div class="info-price">
                                <span class="price">
                                    @item.Price<small>₽</small>
                                </span>
                                <button class="add-to-cart">
                                    <ion-icon name="cart-outline"></ion-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


