<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebStoreMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebStoreMVC.styles.css" asp-append-version="true"/>
       <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap reboot (для сброса стилей) -->
        <link rel="stylesheet" href="lib/bootstrap-reboot.min.css">
    
    
        <!-- Bootstrap сетка -->
        <link rel="stylesheet" href="lib/bootstrap-grid.min.css">
    
    
        <!-- Шрифты с Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <!--ШАПКА МАГАЗА-->
        <!-- Стили сайта -->
        <link rel="stylesheet" href="css/site.css">
</head>

<body>
<partial name="Partial/_Header"/>


@RenderBody()


<footer class="border-top footer text-muted">
    <div class="container">
        @*&copy; 2024 - WebStoreMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>