@model WebStoreMVC.Domain.Entities.Order


<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <img src="~/images/order/payment_successfull.png" width="256px" height="256px" alt=""/>
</div>
<br/>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <h1>Поздравляем!</h1>
</div>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <h3>Оплата прошла успешно</h3>
</div>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    @if (!User.Identity.IsAuthenticated)
    {
        <h1>Сохраните номер вашего заказа!</h1>
    }
</div >
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <a>Номер вашего заказа: @Model.OrderId</a>
</div>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <a>Время оформления заказа: @Model.OrderDate</a>
</div>