
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <img src="~/images/order/payment_successfull.png" width="256px" height="256px" alt=""/>
</div>
<br/>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <h1>Поздравляем!</h1>
</div>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <h3>Оплата прошла успешно</h3>
</div>