<div class="shop-menu pull-right">

    <li>
        <a asp-controller="Auth" asp-action="Registration"><i class="fa fa-user-o"></i> Регистрация</a>
    </li>
    <li>
        <a asp-controller="Auth" asp-action="Login"><i class="fa fa-user-o"></i> Вход</a>
    </li>
</div>