@using System.Net

<div class="shop-menu pull-right">
    @if (User.IsInRole(WebStoreMVC.Domain.Entities.UserRoles.ADMINISTRATOR))
    {
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-user-o"></i> Админ панель</a>
        </li>
    }
    <li>
        <a asp-controller="Account" asp-action="Index"><i class="fa fa-user-o"> Аккаунт</i></a>
    </li>
    <li>
        <a asp-controller="Auth" asp-action="Logout"><i class="fa fa-user-o"></i> Выход</a>
    </li>

</div>