@model WebStoreMVC.Dtos.ForgotPasswordDto

@{
    ViewBag.Title = "Восстановление пароля пользователя";
}



<div class="container">
    <div class="col-sm-4 col-sm-offset-1">
        <div>
            <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="margin-bottom: 10px;">
                    <input asp-for="Email" placeholder="Введите почту для восстановления пароля"/>
                </div>
                <div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div style="margin-bottom: 10px;">
                    <button type="submit" class="btn btn-default">Подтвердить</button>
                </div>
            </form>
        </div>
    </div>
</div>